{% load staticfiles %}
{% if has_newsletter %}
<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="newsletter-body has-background-lmpblack">
                    <h3 class="is-size-3 is-margin-bottom-20 has-text-white has-text-centered">Formulario de contacto</h3>
                    <form method="post" enctype="multipart/form-data" action="{% url 'front:contact' %}">
                        {% csrf_token %}
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label class="label has-text-light">Nombre Completo</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control"><input class="input" type="text" placeholder="John Doe" name="name"></div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label class="label has-text-light">Email</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control"><input class="input" type="text" placeholder="johndoe@email.com" name="email"></div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label class="label has-text-light">Número de teléfono</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control"><input class="input" type="text" placeholder="+507 0000 0000" name="phone"></div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label has-text-light">¿Cómo prefiere ser contactado?</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="control">
                                        <label class="radio"><input type="radio" name="contact">Email</label>
                                        <label class="radio"><input type="radio" name="contact">Teléfono</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"><label class="label has-text-light">Comentarios</label></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <textarea class="textarea" placeholder="¿Comó le podemos ayudar?" name="message"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label"></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button class="button background-red has-text-white is-fullwidth">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script src='https://www.google.com/recaptcha/api.js'></script>
                        <div class="g-recaptcha" data-sitekey="6LcrXWkUAAAAAFMG3gmAaDONlTVYllTfhm-ehrb5"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endif %}
<div class="container-fluid has-background-lmpblack">
    <div class="container">
        <div class="columns">
            {% if brand_list_footers %}
            <div class="column">
                <div>
                    <h3 class="is-size-4 has-text-white">Marcas Destacadas</h3>
                    <hr class="background-red is-hr-line">
                </div>
                <ul>
                    {% for object in brand_list_footer %}
                    <li class="navbar-item">
                        <p class="is-size-6">
                            <a href="{% url 'front:inventory' %}?brand={{object.id}}" class="has-text-light">{{object.name}}</a>
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if top_five_car %}
            <div class="column">
                <div>
                    <h3 class="is-size-4 has-text-white">Inventario</h3>
                    <hr class="background-red is-hr-line">
                </div>
                <ul>
                    {% for car in top_five_cars %}
                    <li class="navbar-item"><a class="has-text-light" href="{{car.get_absolute_url}}">{{car.brand}} - {{car.model}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="column">
                <div>
                    <h3 class="is-size-4 has-text-white">Contacto</h3>
                    <hr class="background-red is-hr-line">
                </div>
                <ul class="has-text-light">
                    <li class="navbar-item">
                        <p class="is-size-6 has-text-light">Email: <span>luxurymotorspanama@gmail.com</span></p>
                    </li>
                    <li class="navbar-item">
                        <p class="is-size-6 has-text-light">Teléfono: <span>+507-229-0628</span></p>
                    </li>
                    <li class="navbar-item">
                        <p class="is-size-6 has-text-light">Celular: <span>+507-6618-8330</span> / <span>+507-6678-3330</span></p>
                    </li>
                    <li class="navbar-item">
                        <p class="is-size-6 has-text-light">Dirección: <span>Calle 68 este, San Francisco, diagonal a El Llantero</span></p>
                    </li>
                    <li class="navbar-item">
                        <a class="is-size-6 has-text-light" href="{% url 'front:contact-f-a-q' %}?next={{request.path}}">Preguntas frecuentes</a>
                    </li>
                </ul>
                <ul class="">
                    <li class="navbar-item">
                        <p>
                            <a href="https://facebook.com/luxurymotorspanama" target="_blank" rel="noopener noreferrer">
                                <span class="icon has-text-white is-size-3">
                                    <i class="fab fa-facebook-square"></i>
                                </span>
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://instagram.com/luxurymotors.panama" target="_blank" rel="noopener noreferrer">
                                <span class="icon has-text-white is-size-3">
                                    <i class="fab fa-instagram"></i>
                                </span>
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://wa.me/50766188330" target="_blank" rel="noopener noreferrer">
                                <span class="icon has-text-white is-size-3">
                                    <i class="fab fa-whatsapp"></i>
                                </span>
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="https://wa.me/50766783330" target="_blank" rel="noopener noreferrer">
                                <span class="icon has-text-white is-size-3">
                                    <i class="fab fa-whatsapp"></i>
                                </span>
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="column">
                <div>
                    <h3 class="is-size-4 has-text-white">Encuentranos</h3>
                    <hr class="background-red is-hr-line">
                </div>
                <div>
                    <div id="map" style="height:350px;margin: 0 10px 15px 10px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="is-copyright">
        <nav class="navbar is-black">
            <div class="container is-centered">
                <div class="navbar-brand">
                    <p class="navbar-item is-size-7">All Rights Reserved {% now 'Y' %} | Website Designed &amp; Developed by &nbsp;<a class="has-text-white"  href="https://dev2tech.xyz"> Dev2tech</a>.</p>
                </div>
            </div>
        </nav>
    </div>
</div>