{% load static %}
<div class="has-background-lmpblack" id="header">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third is-hidden-touch">
                <a class="active" aria-current="page" href="/">
                    <img src="{%  static 'base/images/logo.png' %}" alt="Luxury Motors Panamá" id="isHeaderLogo"></img>
                </a>
            </div>
            <div class="column is-hidden-touch">
                <a class="active" aria-current="page" href="{% url 'front:inventory' %}">
                    <img src="{{ SITE_HEADER_IMG }}" alt="Compra venta"></img>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="has-background-lmpblack has-navbar-fixed-top">
    <nav class="navbar has-background-lmpblack is-colored-nav" id="navBar">
        <div class="container">
            <div class="navbar-brand is-hidden-desktop">
                <a class="navbar-item" href="{% url 'front:home' %}">
                    <img src="{% static 'base/images/logo/apple-icon-76x76.png' %}" width="28" height="28">
                </a>
                <span class="navbar-burger" id="mainMenu" ref="isBurger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item has-text-white is-uppercase {% if menu == 'home' %}is-navbar-active-home{% endif %}" aria-current="page" data-target="navMenu" href="{% url 'front:home' %}">Inicio</a>
                    <a class="navbar-item has-text-white is-uppercase {% if menu == 'about' %}is-navbar-active-home{% endif %}" data-target="navMenu" href="{% url 'front:about' %}">¿Quienes somos?</a>
                    <a class="navbar-item has-text-white is-uppercase {% if menu == 'inventory' %}is-navbar-active-home{% endif %}" data-target="navMenu" href="{% url 'front:inventory' %}">Inventario</a>
                    <a class="navbar-item has-text-white is-uppercase {% if menu == 'contact' %}is-navbar-active-home{% endif %}" data-target="navMenu" id="contactLink">Contacto</a>
                </div>
            </div>
        </div>
    </nav>
</div>