{% extends 'base/base.html' %}{% load staticfiles %}

{% block css %}
<style>
    .slide-description{    
        position: absolute;
        bottom: 15px;
        width: 100%;
        background: rgba(0,0,0,0.2);
        padding: 15px 20px;
        color: #f4f4f4;
    }
</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="columns">
        <div class="column ">
            <div>
                <div class="img-container is-radius is-inventory">
                    <figure class="image">
                        <img src="{{ SITE_ABOUT_IMG }}" alt="Luxury Motors Panamá">
                    </figure>
                    <div class="img-text-overlay-active">
                        <div class="text">
                            <h3 class="is-size-2 is-size-5-touch">{{ SITE_TITLE | safe }}</h3>
                            <div class="is-size-4 is-size-6-touch has-text-light">
                                {{ SITE_DESCRIPTION | safe}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if carousel_image_list %}
    <div class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h2 class="title has-text-white is-uppercase">Galeria</h2>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-12" id="siteHeaderCarousel">
        {% for object in carousel_image_list %}
            <div>
                <img src="{{object.image.url}}" alt="Carousel home {{object.id}}">
                <div class="slide-description">
                    <h2 class="is-size-4">{{object.name}}</h2>
                    <div class="is-size-6">{{object.text | safe}}</div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}