{% extends 'base/base.html' %}{% load staticfiles %}

{% block css %}
<style>
    #siteHeaderCarousel .slick-next{ right: 25px !important; z-index: 9;}
    #siteHeaderCarousel .slick-prev{ left: 25px !important; z-index: 9;}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="columns">
        {% if brand_list %}
        <div class="column is-10 is-offset-1">
            <div id="brandCarousel">
                {% for object in brand_list %}
                <div>
                    <a href="{% url 'front:inventory' %}?brand={{object.id}}">
                        <img src="{{object.img.url}}" alt="{{object.name}}">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    {% if carousel_image_list %}
    <div class="columns">
        <div class="column is-12" id="siteHeaderCarousel">
        {% for object in carousel_image_list %}
            <div>
                <img src="{{object.image.url}}" alt="Carousel home {{object.id}}">
            </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
<div class="container">
    <div class="is-latest-inventory">
        <div class="hero">
            <div class="hero-body">
                <div class="has-text-centered">
                    <h2 class="title has-text-white is-uppercase">Inventario</h2>
                </div>
            </div>
        </div>
        <div class="columns is-padding-top-30" id="feeds">
            {% for object in object_list %}
            {% if forloop.counter0 == 3 or forloop.counter0 == 6 or forloop.counter0 == 9 or forloop.counter0 == 12 %}
                </div><div class="columns">
            {% endif %}
            <div class="column is-4">
                <div>
                    <a href="{{object.get_absolute_url}}">
                        <div class="img-container is-radius is-inventory">
                            <figure class="image is-5by3">
                                {% if object.img.url != None %}
                                <img src="{{object.img.url}}" alt="{{object.model}}">
                                {% else %}
                                <img src="{% static 'base/images/cars/lmp.jpg' %}" alt="{{ object.model }}">
                                {% endif %}
                            </figure>
                            <div class="{% if object.status == 'SOLD' %}img-text-overlay-back{% else %}img-text-overlay{% endif %}">
                                {% if object.status == 'SOLD' %}
                                    <div class="ribbon"><span>VENDIDO</span></div>
                                {% endif %}
                                <div class="text">
                                    <h3 class="is-size-4">{{object.model}}</h3>
                                    <p class="">{{object.brand}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="hero">
        <div class="hero-body">
            <div class="has-text-centered">
                <h2 class="title is-uppercase">
                    <a class="button has-text-white is-fullwidth background-red" id="" href="{% url 'front:inventory' %}">
                        ver más
                    </a>
                </h2>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div>
                <a href="{% url 'front:sell' %}?next={{request.path}}">
                    <div class="img-container is-radius is-inventory">
                        <figure class="image is-3by1">
                            <img src="{{ SITE_TRADEIN_IMG }}" alt="Banner">
                        </figure>
                        <div class="img-text-overlay-back">
                            <div class="text">
                                <div class="content">
                                    <h5 class="is-size-4 has-text-light">Requisitos</h5>
                                    <ol class="is-upper-roman has-text-left is-size-6 has-text-light">
                                        <li>Traer Registro único vehicular (copia /original).</li>
                                        <li>Traer el vehículo.</li>
                                        <li>Llenar formulario de Consignación  en la empresa al momento de dejar el vehículo.</li>
                                    </ol>
                                    <a class="button is-text is-inverted" href="{% url 'front:sell' %}?next={{request.path}}">
                                        Haga clic aqui para solicitar una cita
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}