{% extends 'base/base.html' %}{% load staticfiles %}

{% block css %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column">
                <h3 class="has-text-light is-centered is-size-3">
                    Muchas gracias por comunicarse con nosotros.
                </h3>
                <p class="has-text-light is-centered is-size-5">
                    En breve nos estaremos comunicando con ud.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}
